# Dependencias
/vendor/

# Composer
composer.lock

# Archivos de entorno
.env
.env.*

# Logs
*.log

# Cache
/tmp/
.cache/

# IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# PHPUnit
.phpunit.result.cache
